"$schema" = "https://jj-vcs.github.io/jj/latest/config-schema.json"

[user]
name = "Fran"
email = "fcomrqz@users.noreply.github.com"

[ui]
default-command = ["log", "-r", "main@origin::", "--no-graph"]
pager = "delta"
diff-editor = ":builtin"
diff-formatter = ":git"
conflict-marker-style = "git"

[ui.movement]
edit = true

[templates]
revert_description = '''
concat(
  'revert: ' ++ description.first_line() ++ "\n",
  "\n",
  "This reverts commit " ++ commit_id ++ ".\n",
)
'''

[template-aliases]
builtin_log_compact = '''
if(
  current_working_copy,
  label("working_copy",
    concat(
      separate(" ",
        pad_start(1,
          if(
            conflict,
            label("conflict", "×"),
            coalesce(
              remote_bookmarks.filter(|bookmark| bookmark.name().contains("main")).filter(|bookmark| bookmark.remote().contains("origin")).map(|bookmark| label("empty", "✓")),
              remote_bookmarks.filter(|bookmark| bookmark.name().contains("main")).filter(|bookmark| bookmark.remote().contains("git")).map(|bookmark| label("working_copy change_id", "!"))
            )
          )
        ),
        label("current_working_copy", change_id.shortest(4)),
        if(description, description.first_line()),
        tags,
        if(empty, label("empty", "empty"), commit_timestamp(self).ago())
      ),
    ) ++ "\n"
  ),
  concat(
    separate(" ",
      pad_start(1,
        if(
          conflict,
          label("conflict", "×"),
          coalesce(
            remote_bookmarks.filter(|bookmark| bookmark.name().contains("main")).filter(|bookmark| bookmark.remote().contains("origin")).map(|bookmark| label("empty", "✓")),
            remote_bookmarks.filter(|bookmark| bookmark.name().contains("main")).filter(|bookmark| bookmark.remote().contains("git")).map(|bookmark| label("working_copy change_id", "!"))
          )
        )
      ),
      change_id.shortest(4),
      if(description, description.first_line()),
      tags,
      if(empty, label("empty", "empty"), commit_timestamp(self).ago())
    )
  ) ++ "\n"
)
'''

[revset-aliases]
"immutable_heads()" = "(trunk().. & ~mine())"

[colors]
bookmarks = { fg = "green" }
change_id = { fg = "blue" }
timestamp = { fg = "bright black" }

"working_copy bookmarks" = { fg = "green" }
"working_copy change_id" = { fg = "magenta" }
"working_copy timestamp" = { fg = "bright black" }
