[init]
	defaultBranch = main
[user]
	name = Fran
	email = fcomrqz@users.noreply.github.com
[core]
	editor = zed -w
	pager = delta
	quotepath = false
[blame]
	date = relative
[format]
	pretty = %C(brightgreen)%h%Creset %s %C(brightblue)%cr%Creset%C(brightmagenta)%d%Creset
[pager]
  diff = delta
  log = delta
	reflog = delta
	show = delta
[delta]
	commit-style = raw
  file-style = yellow
	file-decoration-style = omit
	file-added-label = [+]
	file-copied-label = [==]
	file-modified-label = [*]
	file-removed-label = [-]
	file-renamed-label = [->]
  hunk-header-style = file line-number syntax
	hunk-header-file-style = yellow
	hunk-header-decoration-style = omit
	zero-style = syntax
	minus-style = red 224
	minus-emph-style = red 224
	plus-style = 28 194
	plus-emph-style = 28 194
  line-numbers = true
	line-numbers-minus-style = brightred bold
  line-numbers-plus-style = brightgreen bold
	line-numbers-right-format = "{np:^4} "
	line-numbers-left-format = "{nm:^4} "
	tabs = 2
[alias]
	s = status -s
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[credential "https://github.com"]
	helper =
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !/opt/homebrew/bin/gh auth git-credential
