(
    selection_fg: Some("Reset"),
    selection_bg: Some("White"),
    command_fg: Some("Reset"),
    cmdbar_bg: Some("Reset"),
    cmdbar_extra_lines_bg: Some("Reset"),
    push_gauge_fg: Some("Reset"),
    push_gauge_bg: Some("Reset"),
    line_break: Some("⏎"),
    branch_fg: Some("Red"),
    diff_file_added: Some("Green"),
		diff_file_removed: Some("Red"),
		diff_file_moved: Some("Magenta"),
)

// All options
// https://github.com/extrawurst/gitui/blob/63a91fd281be03ae33b049af0f9e143bc496ad54/src/ui/style.rs#L330-L358
