<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>

  <key>Label</key>
  <string>com.tailscale.tailscaled</string>

  <key>ProgramArguments</key>
  <array>
    <string>/usr/local/bin/tailscaled</string>
  </array>

  <key>RunAtLoad</key>
  <true/>

  <key>KeepAlive</key>
  <true/>

  <key>StandardOutPath</key>
  <string>/tmp/tailscale.log</string>
  <key>StandardErrorPath</key>
  <string>/tmp/tailscale.log</string>

  <key>UserName</key>
  <string>root</string>

  <key>GroupName</key>
  <string>wheel</string>

  <key>ProcessType</key>
  <string>Background</string>

  <key>Disabled</key>
  <false/>
  <key>ThrottleInterval</key>
  <integer>5</integer>

</dict>
</plist>
