"*":
  "atom-ide-typescript":
    returnTypeInAutocomplete: "right"
    typeScriptServer: {}
  "auto-dark-mode":
    notifyOnChange: false
  "autocomplete-plus":
    confirmCompletion: "tab"
    enableAutoConfirmSingleSuggestion: false
    enableExtendedUnicodeSupport: true
    includeCompletionsFromAllBuffers: false
    minimumWordLength: 1
    similarSuggestionRemoval: "textOrSnippet"
    strictMatching: true
  "bracket-matcher":
    highlightMatchingLineNumber: true
  core:
    automaticallyUpdate: false
    closeDeletedFileTabs: true
    closeEmptyWindows: false
    debugLSP: true
    disabledPackages: [
      "welcome"
      "background-tips"
      "bookmarks"
      "styleguide"
      "deprecation-cop"
      "wrap-guide"
      "autocomplete-snippets"
      "grammar-selector"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "desktop.ini"
      "node_modules"
      "package-lock.json"
      ".vercel"
      ".nuxt"
      ".eslintcache"
      "dist"
      "tmp"
    ]
    openEmptyEditorOnStart: false
    packagesWithKeymapsDisabled: [
      "keybinding-resolver"
      "spell-check"
      "keyboard-scroll"
    ]
    packagesWithSnippetsDisabled: [
      "language-javascript"
      "language-todo"
      "language-html"
    ]
    reopenProjectMenuCount: 3
    restorePreviousWindowsOnStart: "always"
    telemetryConsent: "limited"
    titleBar: "hidden"
    uriHandlerRegistration: "always"
  editor:
    autoIndentOnPaste: false
    fontFamily: "SFMono-Semibold, Menlo, Consolas, DejaVu Sans Mono, monospace"
    fontSize: 13
    lineHeight: 1.8
    multiCursorOnClick: false
    scrollPastEnd: true
    showIndentGuide: true
  "exception-reporting":
    userId: "2e723bfe-8436-4abf-bfea-d68d01f836d5"
  "find-and-replace":
    searchContextLineCountAfter: 2
    searchContextLineCountBefore: 2
    useRipgrep: true
  "fuzzy-finder":
    scoringSystem: "alternate"
  "keyboard-scroll":
    animationDuration: 0
  linter:
    lintOnChange: false
  "linter-eslint":
    advanced: {}
    autofix:
      fixOnSave: true
      ignoreFixableRulesWhileTyping: true
    disabling: {}
    scopes: [
      "source.js"
      "source.jsx"
      "source.js.jsx"
      "source.flow"
      "source.babel"
      "source.js-semantic"
      "text.html.vue"
    ]
  "linter-stylelint":
    fixOnSave: true
  "linter-ui-default":
    alwaysTakeMinimumSpace: true
    decorateOnTreeView: "None"
    panelHeight: 422.5
    statusBarClickBehavior: "Jump to next issue"
    statusBarRepresents: "Current File"
    tooltipFollows: "Mouse"
  "markdown-preview":
    breakOnSingleNewline: true
    useGitHubStyle: true
  "one-dark-ui":
    fontSize: 11
    hideDockButtons: true
    stickyHeaders: true
    tabSizing: "Maximum"
  "one-light-ui":
    fontSize: 11
    hideDockButtons: true
    stickyHeaders: true
    tabSizing: "Maximum"
  "prettier-atom":
    formatOnSaveOptions:
      enabled: true
      respectEslintignore: false
    prettierEslintOptions: {}
    useEditorConfig: false
  "spell-check":
    addKnownWords: true
  "status-bar": {}
  tabs:
    addNewTabsAtEnd: true
    enableVcsColoring: true
    showIcons: false
  "tree-view":
    focusOnReveal: false
    hiddenOnStartup: true
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
