'.platform-darwin':
  'cmd-b': 'custom:hide'
  'shift-cmd-e': 'custom-tree-view:toggle'

'.platform-darwin atom-text-editor':
  'shift-cmd-e': 'custom-tree-view:toggle'

'atom-text-editor':
  'ctrl-shift-left': 'editor:move-selection-left'
  'ctrl-shift-right': 'editor:move-selection-right'
  'ctrl-u': 'editor:delete-to-beginning-of-line'
  'cmd-alt-down': 'git-diff:move-to-next-diff'
  'cmd-alt-up': 'git-diff:move-to-previous-diff'

'atom-text-editor:not([mini])':
  'ctrl-left': 'editor:outdent-selected-rows'
  'ctrl-right': 'editor:indent-selected-rows'
  'ctrl-down': 'editor:move-line-down'
  'ctrl-up': 'editor:move-line-up'
  'alt-up': 'keyboard-scroll:scrollUpWithCursor'
  'alt-down': 'keyboard-scroll:scrollDownWithCursor'
  'ctrl-alt-up': 'keyboard-scroll:scrollUp'
  'ctrl-alt-down': 'keyboard-scroll:scrollDown'
  'alt-shift-down': 'editor:select-smaller-syntax-node'
  'alt-shift-up': 'editor:select-larger-syntax-node'
  'cmd-]': 'github:toggle-git-tab-focus'
  'ctrl-c': 'github:view-unstaged-changes-for-current-file'
  'ctrl-k': 'editor:delete-line'

'.workspace':
  'cmd-backspace': 'tree-view:remove-project-folder'

'.github-FilePatchView atom-text-editor:not([mini])':
  'right': 'window:focus-pane-on-right'
