@import 'syntax-variables';
@import 'colors';

// Hide elements
atom-pane.pane .tab.active::before,
atom-text-editor .gutter[gutter-name='linter-ui-default'],
status-bar .current-path,
status-bar .file-info,
status-bar .cursor-position,
status-bar .line-ending-tile,
status-bar .encoding-status,
status-bar .github-StatusBarTile,
status-bar .github-ChangedFilesCount,
.suggestion-description,
.icon-git-branch,
.github-PushPull-icon {
  display: none !important;
}

// Wallaby
atom-text-editor .gutter-container > div {
  flex-direction: row-reverse;
}

atom-text-editor .line-number .icon-right {
  width: 1.2em;
  padding: 0;
}

atom-text-editor .line-number .icon-right::before {
  position: relative;
  left: -0.4em !important;
}

atom-text-editor .gutter .line-number {
  border-left-width: 0.2em !important;
}

atom-text-editor .gutter[gutter-name='quokka'],
atom-text-editor .gutter[gutter-name='wallaby'] {
  min-width: 0.8em;
}

atom-text-editor .gutter[gutter-name='quokka'] .decoration,
atom-text-editor .gutter[gutter-name='wallaby'] .decoration {
  left: 0;
  width: 0.2em;
  height: 1.2em !important;
  margin-top: 0.3em;
  border-radius: 0.1em;
}

.modal.overlay.from-top {
  font-family: var(--editor-font-family);
}

// Linter
#linter-tooltip .linter-message {
  padding: 0;
}

atom-text-editor.editor .linter-highlight {
  padding-bottom: 0.05em;
  border-bottom-width: 0.15em;
  border-bottom-style: solid;
  background: none;
}

atom-text-editor.editor .linter-highlight.linter-error {
  border-bottom-color: hsl(5, 48%, 51%);
  background: none;
}

atom-text-editor.editor .linter-highlight.linter-info {
  border-bottom-color: hsl(207, 82%, 66%);
  background: none;
}

atom-text-editor.editor .linter-highlight.linter-warning {
  border-bottom-color: #e5c07b;
  background: none;
}

// Tree view
// Tree view: Remove icons
.list-item > .icon::before {
  display: none;
}

// Tree view: Center icon
.path-row {
  display: flex;
  align-items: center;
}

.tree-view .project-root-header {
  border: none !important;
  height: 26px !important;
}

.list-item {
  font-family: var(--editor-font-family);
  line-height: 26px !important;
}

.list-group .selected::before,
.list-tree .selected::before {
  height: 26px !important;
}

.list-tree.has-collapsable-children .list-nested-item > .list-tree > li,
.list-tree.has-collapsable-children .list-nested-item > .list-group > li {
  padding-left: 15px;
}

.list-tree.has-collapsable-children li.list-item {
  margin-left: 15px;
}

.list-tree.has-collapsable-children .list-nested-item > .list-item::before {
  margin-right: 3px;
}

// Find Project
.preview-pane .results-view .context-row,
.preview-pane .results-view .match-row {
  box-shadow: none;
}

// Status Bar
.status-bar,
.status-bar-left,
.status-bar-right {
  display: flex;
  align-items: center;
}

.status-bar .flexbox-repaint-hack {
  align-items: center;
}

.title,
.github-StatusBarTileController,
.selection-count,
.status-bar-right a,
.status-bar-left a,
.quokka-panel-view-container,
.wallaby-panel-view-container,
.available-updates-status {
  font-family: var(--editor-font-family);
}

.linter-status-count {
  padding: 0 !important;
}

.linter-status-count a {
  padding-top: 0;
  padding-left: 8px;
  padding-right: 6px;
}

.linter-status-count a:nth-child(1)::before {
  content: '✖︎';
}

.linter-status-count a:nth-child(2)::before {
  content: '▲';
}

.linter-status-count a:nth-child(3)::before {
  content: '◆';
  font-size: 16px;
}

.github-StatusBarTileController {
  display: block;
}

// Bracket Matcher
atom-text-editor .bracket-matcher .region {
  border-bottom: 0.15em solid @syntax-selection-color;
}

// Panels
atom-panel-container.bottom > atom-panel.bottom {
  border-right: none;
  border-bottom: none;
}

// Modals
atom-panel.modal {
  font-family: var(--editor-font-family);
}

atom-panel.modal .list-group {
  max-height: 475px !important;
}

atom-panel.modal .list-group li::before,
atom-panel.modal .fuzzy-finder .primary-line,
.fuzzy-finder .loading-message {
  display: none !important;
}

atom-panel.modal .secondary-line {
  padding-left: 0;
}

// Fix white flash when open Fuzzy Finder
atom-panel.modal::after {
  -webkit-animation: none;
}

// GoTo Line
.go-to-line .message {
  display: none !important;
}

.go-to-line .editor.mini {
  margin-bottom: 0;
}

// Settings
.settings-view .config-menu .icon {
  display: flex;
  align-items: center;
}

.settings-view .config-menu .icon::before {
  margin-right: 10px;
}

.sub-section-heading {
  display: flex;
  align-items: center;
}

atom-text-editor .line.wle::after {
  color: @hue-5-2;
}

atom-text-editor .line.wlc::after {
  color: @mono-3;
}
