//npm.pkg.github.com/:_authToken=${GH_TOKEN}
@fcomrqz:registry=https://npm.pkg.github.com
@mondraco:registry=https://npm.pkg.github.com
@habive:registry=https://npm.pkg.github.com
@getbookip:registry=https://npm.pkg.github.com
